body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.loading__anim {
  width: 50px;
  height: 50px;
  display: inline-block;
  border: 5px solid #bdbdbd40;
  border-left-color: #1991EC;
  border-top-color: #1991EC;
  border-radius: 50%;
  animation: rotate 1200ms infinite linear;
}

@keyframes rotate {
  to {
    transform: rotate(1turn)
  }
}
